/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍
<style>
  .attribution { font-size: 11px; text-align: center; }
</style> --> */

/* ----------------- Main ----------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: hsl(228, 45%, 44%);
    --color2: hsl(257, 40%, 49%);
    --color3: hsl(300, 69%, 71%);
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.wrapper {
    background-color: var(--color2);
}

header {
    width: 100%;
    position: relative;
    padding-top: 5vh;
    padding-left: 5vw; 
}

.main {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

footer {
    width: 100%;
    bottom: 0;
}

.title {
    font-weight: 600;
    margin-bottom: 2vh;
}

.image1 {
    max-width: 100%;
    height: auto;
}

.text {
    margin-bottom: 2vh;
}

.btn {
    margin-top: 10px;
    padding: 15px 60px;
    border-radius: 50px;
}

.btn:hover {
    color: white;
    background-color: var(--color3);
    cursor:pointer;
}

.facebook {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.facebook:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.twitter {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.twitter:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.instagram {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 70px;
    width: 40px;
    height: 40px;
    overflow: visible;
    margin-left: 5px;
    margin-right: 5px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.instagram:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}
/* ----------------- Desktop ----------------------- */
@media screen and (min-width:1180px) {

    body {
        height: 100vh;
    }
    
    .wrapper {
        width: 1440px;
        height: 800px;
        background-image: url("./images/bg-desktop.svg");
        background-repeat: no-repeat;
    }

    header {
        padding-bottom: 4vh;
    }

    .logo {
        width: 15%;
        height: 15%;
    }

    footer{
        text-align: right;
        position: fixed;
        padding-right: 17vw;
        padding-bottom: 10vh;
    }

    .main {
        padding-left: 4vw;
    }
    .main-child1 {
        width: 55%;
        float: left;
        padding: 10px;
    }

    .main-child2 {
        width: 45%;
        float: left;
        padding-left: 1vw;
    }
    
    .title {
        padding-top: 5vh;
        font-family: "Poppins";
        font-size: 40px;
        padding-right: 6vw;
    }

    .text {
        font-size: 16px;
        font-weight: 400;
        padding-right: 8vw;
    }
}


/* ----------------- Mobile ----------------------- */

@media screen and (min-width:350px) and (max-width:1180px) {
    
    .wrapper {
        width: 375px;
        background-image: url("./images/bg-mobile.svg");
        background-repeat: no-repeat;
    }

    header{
        display: block;
        margin-left: auto;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    .logo {
        width: 50%;
        height: 50%;
    }

    .main {
        padding-top: 3vh;
    }

    .main-child1 {
        width: 100%;
        text-align: center;
        padding-left: 8vw;
        padding-right: 7vw;
    }

    .main-child2 {
        width: 100%;
        text-align: center;
        padding-top: 5vh;
    }

    .title {
        font-size: 30px;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .text {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .btn {
        padding: 13px 80px;
        border-radius: 50px;
    }

    footer{
        text-align: center;
        padding-bottom: 7vh;
        position: relative;

    }
}