/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍
<style>
  .attribution { font-size: 11px; text-align: center; }
</style> --> */

/* ----------------- Main ----------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: hsl(228, 45%, 44%);
    --color2: hsl(257, 40%, 49%);
    --color3: hsl(300, 69%, 71%);
}

body {
    background-color: var(--color2);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 5vh;
    padding-left: 5vw; 
}

.main {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
   
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.btn {
    margin-top: 10px;
    padding: 10px 42px;
    border-radius: 20px;
}

.btn:hover {
    color: white;
    background-color: var(--color3);
    cursor:pointer;
}

.facebook {
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.facebook:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.twitter {
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.twitter:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.instagram {
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.instagram:hover {
    filter: invert(65%) sepia(71%) saturate(495%) hue-rotate(261deg) brightness(96%) contrast(89%);
    cursor: pointer;
}
/* ----------------- Desktop ----------------------- */
@media screen and (min-width:1180px) {

    body {
        background-image: url("./images/bg-desktop.svg");
        background-size:cover;
    }
    
    footer{
        text-align: right;
        padding-right: 2vw;
        padding-bottom: 3vh;
    }

    .image1 {
        max-width: 100%;
        height: auto;
    }

    .main-child1 {
        width: 50%;
        float: left;
        padding: 10px;
    }

    .main-child2 {
        width: 50%;
        float: left;
        padding: 0px;
    }
    
    .title {
        margin-right: 20vw;
        margin-bottom: 2vh;
    }

    .text {
        font-size: 19px;
        font-weight: 400;
        margin-right: 15vw;
    }
}


/* ----------------- Mobile ----------------------- */

@media screen and (min-width:350px) and (max-width:1180px) {
    
    body {
        background-image: url("./images/bg-mobile.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    header{
        display: block;
        margin-left: auto;
        margin-right: right;
    }

    .image1 {
        max-width: 100%;
        height: auto;
    }

    .main {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .main-child1 {
        width: 100%;
        text-align: center;
    }

    .main-child2 {
        width: 100%;
        text-align: center;
        padding-top: 5vh;
    }

    .title {
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    footer{
        text-align: center;
    }
}